:root{
    --black : #21201F;
    --yellow : #FFDE40;
    --gray : #C5C5C5;
}

*{
    font-family: 'YS Text';
    font-size: 62.5%;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
}


body{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    width: 100%;
    height: auto;
    position: relative;
}

main{
    width: 100%;
    height: 60rem;
    padding-inline: 8.53%;
    padding-top: 3.2rem;     
    background-image: url('./assets/desktop/orig.webp');
    position: relative;
}

main::after{
    position: absolute;
    content:'';
    width: 32rem;
    height: 27.5rem;
    background-image: url(./assets/mobile/sktr.png);
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
}



h1{
    font-size: 3.6rem;
    font-weight: 900;
    line-height: 100%; /* 36px */
    letter-spacing: -0.72px;
    margin-top: 3.2rem;
}

.price-info{
    margin-top: 3.5rem;
    max-width: 31.1rem;

}

.price-info p{
    display: inline;
    margin-top: 3.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 130%;
}

.main-price{
    display: inline-flex;
    transform: translateX(-2rem);
}

.main-price1{
    display: inline-flex;
    padding-left: 8px;
    padding-right: 7px;
    padding-top: 1px;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    background: var(--Radial, radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%));
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 120%;
    position: relative;
    z-index: 1;
    transform: translateX(2rem);
}

.main-price2{
    display: inline-flex;
    justify-content: end;
    align-items: center;
    padding-top: 1px;
    padding-right: 1.2rem;
    color: #808080;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 120%; 
    border-radius: 50rem;
    background: linear-gradient(0deg, rgba(241, 241, 241, 0.60) 0%, rgba(241, 241, 241, 0.60) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
    width: 7.5rem;
    height: 2.3rem;
    text-decoration: line-through;
}

.main-btn{
    display: flex;
    width: 31.1rem;
    padding: 1.8rem 0;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 3.6rem;
    background: #FFDE40;
    box-shadow: 0px 4px 64px 0px rgba(255, 222, 64, 0.59);
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    border: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.4rem;
    cursor: pointer;
    z-index: 100;
    text-decoration: none;
}

.main-btn1{
    display: none;
}

.advantages{
    margin-top: 4rem;
    padding-inline: 8.53%;
}

.advantages h2{
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.64px;
}

.advantage-items{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 3.2rem;
}

.advantage-item{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.advantage-item p{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}

.advantage-icon{
    width: 8.3rem;
    height: 8.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery{
    margin-top: 7.2rem;
    padding-inline: 8.53%;
}

.gallery-info h2{
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 100%; 
    letter-spacing: -0.64px;
}

.gallery-info p{
    margin-top: 3.2rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; 
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 1.8rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20rem;
  }
 
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-slider{
    margin-top: 4.7rem;
    position: relative;
  }

  .gallery-slider-xl{
    display: none;
  }

  

  .gallery-slider::after{
    content: url(./assets/mobile/ornament.png);
    position: absolute;
    top: -6.5rem;    
    right: 0;
    z-index: 99;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after{
    content: '';
  }

  .swiper-button-next,
  .swiper-button-prev{
    display: inline-block;
    position: static;
    width: auto;
    height: auto;
    margin-top: 2.4rem;
  }

  .arrows{
    display: flex;
    justify-content: center;
    gap: 1.2rem;    
  }

  .services{
    margin-top: 7.2rem;
    padding-inline: 8.53%;
  }

  .service-info h3{
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.64px;
    max-width: 28rem;
  }

  .service-info p{
    margin-top: 3.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 120%; 
  }

  .service-poster-one, 
  .service-club{
    display: none;
  }

  .service-poster-two img{
    width: 100%;
    height: 100%;
  }

  footer{
    padding-inline: 8.53%;
    padding-bottom: 12rem;
  }

  .footer-info,
  .footer-info a{
    color: #C5C5C5;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%; 
  }

  


  @media screen and (min-width: 1440px){
    main{
        padding-left: 18.2%;
        padding-top: 12.5rem;
        height: 85rem;       
        background-size: cover;
    }

    main::after{
        background-image: url('./assets/desktop/smkt1.png');
        width: 79.4rem;
        height: 61.8rem;
        top: 11rem;
        left: 57rem;
    }

    .logo{
        width: 17.6rem;
        height: 5rem;
    }

    h1{
        margin-top: 7.2rem;
        font-size: 7.2rem;
        letter-spacing: -1.44px;
        position: relative;
        z-index: 2;
    }

    .price-info{
        min-width: 42.5rem;
    }

    .price-info p{
        font-size: 2.4rem;        
        position: relative;
        z-index: 2;
    }

    
    .main-price1{
        font-size: 2.4rem;
    }

    .main-price2{
        height: 3.3rem;
        font-size: 1.6rem;
        width: 9.5rem;
    }

    .main-btn{
        display: none;
    }

    .main-btn1{
        margin-top: 4.4rem;
        display: flex;
        width: 31.5rem;
        padding: 1.8rem 0;
        justify-content: center;
        border-radius: 3.6rem;
        background: #FFDE40;
        box-shadow: 0px 4px 64px 0px rgba(255, 222, 64, 0.59);
        font-size: 1.8rem;
        font-weight: 500;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    .advantages{
        padding-left: 18.2%;
    }

    .advantages h2{
        font-size: 5.6rem;
        max-width: 82.7rem;
    }

    .advantage-items{
        display: grid;
        gap: 6.1rem;
        margin-top: 4.8rem;
        grid-template-columns: auto auto;
    }

    .advantage-item{
        flex-direction: column;
        align-items: flex-start;
        max-width: 40rem;        
    } 

    .advantage-item p {
        font-size: 2.4rem;
    }

    .gallery {
        margin-top: 12.8rem;
        padding-left: 18.2%;
    }

    .gallery-info h2 {
        font-size: 4.8rem;
        max-width: 60rem;
    }

    .gallery-info p {
        margin-top: 4.8rem;
        max-width: 44rem;
        font-size: 2.4rem;
    }

    .gallery-slider{
        display: none;
    }

    .gallery-slider-xl{
        display: grid;
        margin-top: 7rem;
        grid-template-columns: auto auto;
    }

    .slider-top{
        position: relative;
        top: -20rem;
    }

    .slider-item-2::after{        
        content: '';
        position: absolute;
        background-image: url(./assets/desktop/quote.png);
        background-repeat: no-repeat;
        background-size: contain;
        top: -20rem;
        right: -19rem;
        width: 100%;
        height: 100%;        
    }

    .slider-item-1,
    .slider-item-4{
        position: relative;
    }

    .slider-item-1::after{        
        content: '';
        position: absolute;
        background-image: url(./assets/desktop/location.png);
        background-repeat: no-repeat;
        background-size: contain;
        top: -8rem;
        left: -20rem;
        width: 100%;
        height: 100%;        
    }

    .slider-item-4::after{        
        content: '';
        position: absolute;
        background-image: url(./assets/desktop/cofee.png);
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -20rem;
        right: -20rem;
        width: 100%;
        height: 100%;        
    }
  }





 